
.el-page-header {
  height: 25px!important;
  align-items: center;
  flex: 1;
  padding: 0 15px!important;
}
.header-wrap {
  display: flex;
  align-items: center;
}

@mixin common-container {
  width: 308px;
  height: 500px;
  // padding: 30px 20px;
}