
.el-page-header {
  height: 35px!important;
  align-items: center;
  flex: 1;
}
.header-wrap {
  display: flex;
  align-items: center;
  padding: 5px 15px!important;
  border-bottom: 1px solid #eeeeee;
}

@mixin common-container {
  width: 308px;
  height: 610px;
  // padding: 30px 20px;
}